#fPessoas {
    margin-left: 30%;
    margin-top: 20px;
}

#fPessoas {
    width: 480px;
    margin-left: 30%;
    margin-top: 3%;
}

tr:hover {
    cursor: pointer;
}

#tbPessoas {
    font: 14px Verdana;
    
}

#dGridPessoas {
    width: 100% !important;
    border: 1px solid black;
    width: 50% !important; /*Importante manter o !important rs */
    margin: auto;
}

select {
    width: 280px;
    height: 38px;
}

input[type=button] {
    width: 180px;
    height: 48px;
}